@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Gamja+Flower&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;

  background-image: url("jeffhome.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  font-family: Arial, sans-serif;
  color: white;
}

.navbar {
  background: transparent;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;

  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.nav-center {
  text-align: center;
}

.title {
  font-size: 38px;
  font-weight: bold;
}

.subtitle {
  font-size: 20px;
  font-style: italic;
}

.nav-right .nav-btn {
  background: #fff;
  padding: 10px 20px;
  margin-left: 10px;
  text-decoration: none;
  color: black;
  font-size: 20px;

  transition: 0.3s;
}

.nav-right .nav-btn:hover {
  background: #3a0000;
  color: white;
}

.hero {
  width: 100%;
  min-height: 100vh;
  padding-top: 140px;
  padding-bottom: 140px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-box {
  font-family: 'Caveat Brush', cursive;
  font-size: 50px;
  padding: 10px 20px;
  margin-bottom: 25px;
  background: rgba(90, 0, 0, 0.7);
  color: rgb(247, 247, 247);
  border-radius: 10px;
}

.search-bar input {
  width: 250px;
  padding: 12px;
  border-radius: 6px;
  border: none;
  font-size: 16px;
  margin-bottom: 20px;
}

.filter-buttons button {
  padding: 10px 20px;
  margin: 0 10px;

  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;

  background: #4d0d0d;
  color: white;

  transition: 0.2s;
}

.filter-buttons button:hover {
  transform: scale(1.1);
}

.songs-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 40px;
}

.songs-grid img {
  width: 200px;
  height: 200px;
  border-radius: 6px;

  transition: transform 0.3s ease;
}

.songs-grid img:hover {
  transform: scale(1.15);
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px 0;
}

.footer-content {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.footer-icon-btn {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #1a1a1a;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 2px solid #aa0000;
  box-shadow: 0 0 10px #aa0000;
  transition: 0.3s;
}

.footer-icon-btn:hover {
  transform: scale(1.15);
  box-shadow: 0 0 20px red;
}

.footer-icon-btn img {
  width: 24px;
}

@media (max-width: 768px) {

  .hero {
    padding-top: 160px;
    padding-bottom: 200px;
  }

  .songs-grid {
    grid-template-columns: repeat(2, 1fr); 
    gap: 15px;
  }

  .songs-grid img {
    width: 150px;
    height: 150px;
  }

  .title-box {
    font-size: 26px;
    padding: 8px 15px;
    margin-bottom: 15px;
  }

  .search-bar input {
    width: 85%;
    font-size: 16px;
  }

  .filter-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  .filter-buttons button {
    width: 130px;
    padding: 10px;
  }

  .footer-icon-btn {
    width: 38px;
    height: 38px;
  }

  .footer-icon-btn img {
    width: 20px;
  }
}

@media (max-width: 480px) {

  .songs-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .songs-grid img {
    width: 80%;
    height: auto;
  }
}