* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
  background: url(red.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
}

.navbar {
  background: url(header.jpg);
  background-position: 0px 40px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.nav-center {
  text-align: center;
}

.title {
  font-size: 38px;
  font-weight: bold;
}

.subtitle {
  font-size: 20px;
  font-style: italic;
  font-family: 'Cormorant Garamond', serif;
}

.nav-right .nav-btn {
  background: #fff;
  padding: 10px 20px;
  text-decoration: none;
  color: #000;
  margin-left: 10px;
  font-size: 20px;
  transition: 0.3s;
  font-family: 'Caveat', serif;
}

.nav-right .nav-btn:hover {
  background: #3a0000;
  color: #fff;
}

.footer {
  background: url(header.jpg);
  background-position: 0px 40px;
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 999;
}

.footer-content {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
}

.footer-icon-btn {
  width: 45px;
  height: 45px;
  background: #1a1a1a;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 2px solid #aa0000;
  box-shadow: 0 0 10px #aa0000;

  transition: 0.25s ease;
}

.footer-icon-btn img {
  width: 24px;
  height: 24px;
  filter: brightness(90%);
}

.footer-icon-btn:hover {
  transform: scale(1.15);
  border-color: #ff0000;
  box-shadow: 0 0 15px #ff0000, 0 0 25px #ff0000;
}

.footer-icon-btn:hover img {
  filter: brightness(120%);
}

.header {
  background: #5c0000;
  padding: 20px;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 2px;
}

.subheader {
  font-size: 18px;
  margin-top: -5px;
  font-family: serif;
}

.container {
  background:transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.item {
  background: #222;
  padding: 20px;
  border-radius: 5px;
}

.item img {
  width: 100%;
  border-radius: 5px;
}

.item-title {
  font-weight: bold;
  margin-top: 10px;
  font-size: 16px;
}

.price {
  margin: 5px 0 10px 0;
}

.options {
  margin-bottom: 15px;
}

.add-btn {
  background: white;
  color: black;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  width: 100%;
  font-weight: bold;
  border-radius: 4px;
  transition: 0.2s;
}

.add-btn:hover {
  background: #ffcccc;
}

.pay-btn {
  background: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.paymentbutton {
  background-color: transparent;
  display: flex;
  justify-content: center; 
  padding: 30px 0;
  margin: 20px 0 150px 0;
}
         
.pay-btn:hover {
  background: #ffcccc;
}

.merch-header {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: white;
  padding: 30px 0;
  margin-top: 80px; 
  background:transparent;
  font-family: 'Cormorant Garamond', serif;
}

