* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    background: #2a2a2a;
}

body {
    font-family: Arial, sans-serif;
    background: url(jeffhome.png);
    color: white;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: top center;
}

.payment-box {
    width: 420px;
    background: #1a1a1a;
    padding: 30px 35px;
    border-radius: 12px;
    box-shadow: 0 0 25px rgba(255, 0, 0, 0.45);
}

.payment-box h1 {
    text-align: center;
    margin: 0 0 25px 0;
    font-size: 26px;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 15px;
}

input {
    width: 100%;
    padding: 12px;
    margin-top: 6px;
    background: #2b2b2b;
    border: 1px solid #444;
    border-radius: 6px;
    color: white;
    font-size: 15px;
}

input:focus {
    outline: none;
    border-color: #d93636;
}

#card-type {
    margin-top: 5px;
    font-size: 14px;
    color: #ff4c4c;
    height: 18px;
    font-weight: bold;
}

.btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 6px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: .2s;
}

.pay-btn {
    background: #d93636;
    color: white;
}

.pay-btn:hover {
    background: #ff4c4c;
}

.back-btn {
    background: transparent;
    border: 1px solid #d93636;
    color: white;
}

.back-btn:hover {
    background: #d93636;
}