
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
  background: #2a2a2a;
}

.navbar {
  background: transparent;
  background-position: 0px 40px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.nav-center {
  text-align: center;
  color: #fff;
}

.title {
  font-size: 38px;
  margin: 0;
  font-weight: bold;
}

.subtitle {
  margin: 0;
  font-size: 20px;
  font-style: italic;
  font-family: 'Cormorant Garamond', serif;
}

.nav-right .nav-btn {
  background: #fff;
  padding: 10px 20px;
  text-decoration: none;
  color: #000;
  margin-left: 10px;
  font-size: 20px;
  transition: 0.3s;
  font-family: 'Caveat', serif;
}

.hero {
  width: 100vw;
  min-height: 100vh; 
  background-image: url("jeffhome.png");
  background-size: cover;
  background-position: center;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
  padding-top: 160px; 
}

.nav-right .nav-btn:hover {
  background: #3a0000;
  color: #fff;
}

.footer {
  background: transparent;
  background-position: 0px 40px;
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 999;
}

.footer-content {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
}

.footer-icon-btn {
  width: 45px;
  height: 45px;
  background: #1a1a1a;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 2px solid #aa0000;
  box-shadow: 0 0 10px #aa0000;

  transition: 0.25s ease;
}

.footer-icon-btn img {
  width: 24px;
  height: 24px;
  filter: brightness(90%);
}

.footer-icon-btn:hover {
  transform: scale(1.15);
  border-color: #ff0000;
  box-shadow: 0 0 15px #ff0000, 0 0 25px #ff0000;
}

.footer-icon-btn:hover img {
  filter: brightness(120%);
}

.concert-section {
  background:url(black.png);
  color: rgb(255, 255, 255);
  padding: 40px 20px;
  text-align: center;
  font-family: 'Cinzel', serif;
  margin-top: 300px;
}

.concert-title {
  align-content: center;
  font-size: 30px;
  margin-bottom: 40px;
}

.concert-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-bottom: 25px;
  font-size: 24px;
}

.concert-btn {
  padding: 12px 28px;
  background: #d9d9d9;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  font-family: 'Cinzel', serif;
  text-decoration: none;
  color: black;
}

.concert-btn:hover {
  background: #3a0000;
  color: #fff;
}


