/* GENERAL */
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* includes padding/border in element width */
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
  background: #2a2a2a;
}


/* NAVIGATION BAR */
.navbar {
  background: #5a0f0f;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}


.nav-center {
  text-align: center;
  color: #fff;
}

.title {
  font-size: 38px;
  margin: 0;
  font-weight: bold;
}

.subtitle {
  margin: 0;
  font-size: 20px;
  font-style: italic;
  font-family: 'Cormorant Garamond', serif;
}

.nav-right .nav-btn {
  background: #fff;
  padding: 10px 20px;
  text-decoration: none;
  color: #000;
  margin-left: 10px;
  font-size: 20px;
  transition: 0.3s;
  font-family: 'Caveat', serif;
}

/* HERO SECTION */
.hero {
  width: 100vw;
  min-height: 100vh; /* allow height to expand with content */
  background-image: url("jeffsatur_bg.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
  padding-top: 120px; /* space for navbar */
}

.info-box {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(87, 0, 0, 0.7);
  color: white;
  width: 50%;
  padding: 40px;
  text-align: center;
  font-size: 20px;
  overflow-y: auto;
  max-height: 300px;
  margin-top: 100px;
}


.nav-right .nav-btn:hover {
  background: #3a0000;
  color: #fff;
}

/* FOOTER */
.footer {
  background: #5a0f0f;
  padding: 20px 40px;
  color: white;
  position: fixed;   /* makes it stay on screen */
  bottom: 0;         /* stick to bottom */
  left: 0;
  width: 100%;
  z-index: 999;      /* stays above background */
}

.footer-content {
  display: flex;
  justify-content: space-around;
  max-width: 900px;
  margin: auto;
}

.footer-item {
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.concert-section {
  background:url(redgiant.jpg);
  background-position: -120px -60px;
  color: rgb(255, 255, 255);
  padding: 40px 20px;
  text-align: center;
  font-family: 'Cinzel', serif;
  margin-top: 40px;
}

.concert-title {
  font-size: 30px;
  margin-bottom: 40px;
}

.concert-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-bottom: 25px;
  font-size: 24px;
}

.concert-btn {
  padding: 12px 28px;
  background: #d9d9d9;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  font-family: 'Cinzel', serif;
  text-decoration: none;
  color: black;
}

.concert-btn:hover {
  background: #3a0000;
  color: #fff;
}


